<!DOCTYPE html>
<html>
  <head>
    <title>Ashai</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
    <link href="https://fonts.googleapis.com/css?family=Lato," rel="stylesheet">
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
